{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "singleQuote": false,
        "jsxSingleQuote": true
      }
    }
  ]
}
